* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: "Montserrat", sans-serif;
}
.top {
    height: 1024px;
    background: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head {
    color: #FFF;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
width: 700px;
height: 125px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
padding-top: 217px;
}
.head_2 {
    width: 481px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px; 
    padding-bottom: 32px;
}
.button {
    width: 234.063px;
height: 48.603px;
flex-shrink: 0;
border-radius: 30px;
border-color: #9C0332;
background: #9C0332;
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.link_game {
    height: 566px;
    background: #000915;
}
.game_img {
    border-radius: 18px;
}
.game {
    max-width: 379px;
    height: 300px;
    position: relative;
}
.game-list {
    display: flex;
    gap: 32px;
}
.game_text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 18px;
}
.game_season {
    height: 800px;
    background: #000915;
}
.season_text {
    color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.season_text_game {
    width: 584px;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px; 
}
.button_season_game {
    width: 234.063px;
height: 48.603px;
flex-shrink: 0;
border-radius: 30px;
background: #9C0332;
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.season {
    display: flex;
    gap: 135px;
}
.season-game {
    max-width: 584px;
    padding-top: 282px;
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}
.img_game_season {
    padding-top: 233px;
    width: 485px;
height: 333px;
flex-shrink: 0;
}
@media (min-width: 375px) and (max-width: 767px) {
    .center {
     padding-left: 16px;
     padding-right: 16px;
    }
    .top {
        height: 735px;
    }
    .head {
     display: flex;
 width: 343px;
 height: 77.436px;
 flex-direction: column;
 justify-content: center;
 flex-shrink: 0;
 color: #FFF;
 text-align: center;
 font-family: Montserrat;
 font-size: 32px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
    }
 .head_2 {
    width: 343px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; 
 }
 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .game_img {
    width: 343px;
 }
 .game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
 }
 .link_game {
    height: 1221px;
 }
 .game_season {
    height: 654px;
 }
 .season_text {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .season-game {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 15px;
}
 
 .season_text_game {
    padding-top: 32px;
    width: 343px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; 
 }
 .button_season_game {
    width: 234.063px;
height: 48.603px;
flex-shrink: 0;
border-radius: 30px;
background: #9C0332;
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .img_game_season {
padding-top: 5px;
    width: 344px;
    height: 236px;
    flex-shrink: 0;
 }
 .season {
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 }